{% extends 'dashboard.html' %} {% load render_table from django_tables2 %}

{% block extra_css %}
{{ create_form.media }}
<style>
    textarea.form-control {
        max-height: 600px;
        width: 1800px;
    }

    #id_description {
        max-height: 500px;
        height: 500px;
    }

    #id_description_ifr {
        max-height: 500px;
        height: 500px;
    }

    #id_tag {
        max-height: 150px;
        height: 150px;
    }
</style>

{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-10">
            <div class='card'>
                <div class='card-body'>
                    <div class='row'>
                        <div class='col-6'>
                            <!-- Large modal -->

                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style='height:700px; overflow-y: scroll;'>
                                            <form method='post' class='form'
                                                action='{% url "notes:validate_note_creation" %}'>
                                                {% csrf_token %}
                                                {{ create_form }}
                                                <br />
                                                <button type='submit' class='btn btn-primary'><i class='fa fa-save'></i>
                                                    Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-6 text-right'>

                        </div>
                    </div>

                    {% if qs %}
                    {% for note in qs %}
                    {% if note.id == note_id %}
                    {% include 'notes/note_card.html' %}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    No notes here. Please select a notebook tab on the left, or a note on the right.
                    {% endif %}


                </div>
            </div>
        </div>
        <div class="col-2">
            <div class='card'>
                <!-- { if user.is_authenticated } -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">New
                    Note</button>
                <!-- { endif } -->

                {% for note in qs %}
                <a href="{% url 'notes:note' notebooktab_id note.id %}"><button type="button" class="btn btn-active"
                        style="padding: 2px; padding-left: {{ note.indent }}px; margin: 2px; text-align: left; width: 98%;">
                        {{ note.title }}
                    </button></a>
                {% endfor %}

            </div>
        </div>
    </div>

</div>



</div>

{% endblock %}