{% load static %}

<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
    </a>
    <a href="{% url 'notes:home' %}" class="simple-text logo-normal">
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <!-- List notebooks -->
      {% for notebook in notebooks_and_tabs %}
      <li>
        <a href="{% url 'notes:home' %}">
          <i class="nc-icon nc-box"></i>
          <p>{{ notebook }}</p>
        </a>

        <!-- List tabs -->
        <ul class="nav" style="margin-top: 0px;">
          {% for tab in notebook.children.all %}
          <li><a href="{% url 'notes:tab' tab.id %}"><i class="nc-icon nc-minimal-right"></i> {{ tab }}</a></li>
          {% endfor %}
        </ul>

      </li>

      {% endfor %}
    </ul>

    <!-- {% regroup events by date as events_by_date %} -->


  </div>
</div>