{% load static %}

<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
    </a>
    <a href="{% url 'notes:home' %}" class="simple-text logo-normal">
    </a>
  </div>
  <div class="sidebar-wrapper">

    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
      <div class="card card-plain">

        <!-- List notebooks -->
        {% for notebook in notebooks_and_tabs %}

        <div class="card-header" role="tab" id="heading-{{ notebook.id }}">
          <i class="nc-icon nc-box"></i>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ notebook.id }}" aria-expanded="true"
            aria-controls="collapse-{{ notebook.id }}">

            {{ notebook }}

            <i class="nc-icon nc-icon nc-minimal-down"></i>
          </a>
        </div>
        <div id="collapse-{{ notebook.id }}" class="collapse show" role="tabpanel"
          aria-labelledby="heading-{{ notebook.id }}">

          <ul class="nav" style="margin: 0px; padding-left: 30px;">
            <!-- List tabs -->

            {% for tab in notebook.children.all %}
            <li><a href=" {% url 'notes:tab' tab.id %}"> {{ tab }}</a></li>
            {% endfor %}

          </ul>

        </div>

        {% endfor %}

      </div>
    </div>

    <!-- {% regroup events by date as events_by_date %} -->


  </div>
</div>